.event-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.event-div {
  background-color: #f7f7f7;
}

.event-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
  margin-bottom: 40px;
}

.event-img {
  padding-top: 60px;
  width: 23%;
  min-width: 200px;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.event-img:hover img {
  transform: scale(1.05);
}

.event-content {
  margin-top: 60px;
  flex: 1;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  animation: fadeInContent 0.3s ease;
  min-width: 200px;
  max-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.event-content h3 {
  font-weight: 300;
  margin: 0 0 10px;
  font-size: 1.4rem;
  color: #222;
}

.event-content p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .event-title{
    font-size:1.5rem;
    font-weight: 100;
  }
  .event-div {
    display: none; /* Hide the desktop layout on mobile */
  }

  .event-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .event-mobile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .event-mobile-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .event-mobile-item .event-content {
    flex: 1;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
  }
}