/* General Layout and Styling */
.home {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Full Screen Image at the top */
.full-screen-image {
  width: 100vw;  /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  margin-bottom: 20px; /* Space after the full-screen image */
}

.image-full {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers entire screen without distortion */
}

/* Styling for image rows (5 images per row with a 2px gap) */
.image-row {
  display: flex;
  margin-bottom: 20px; /* Space between image rows */
}

.image {
  width: 20%; /* Each image takes 24% of the width */
  height: 250px;
  object-fit: cover; /* Maintain aspect ratio without stretching */
  cursor: pointer;
}

/* Styling for Sections */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px;
}

.section h1,
.section h2 {
  font-weight: 100;
  font-size: 4rem;
  color: #333;
}

/* Styling for the Cards */
.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 30%;
  height: 200px;
  padding: 15px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #444;
  text-align: center;
}

.card p {
  font-weight: 100;
  font-size: 1rem;
  margin: 0 25px;
  color: #666;
}

@media (max-width: 768px){
  .full-screen-image{
    height: 25%;
  }
  .section h1,
  .section h2{
    font-size: 2rem;
  }
  .section p{
    font-size: 0.8rem;
    margin: 0 -10px;
  }
  .image-row{
    flex-wrap: wrap;
  }
  .image-row img{
    padding: 1px;
    width: 49%;
    height: 180px;
  }
  .card-container{
    flex-direction: column;
    margin-bottom: 80px;
  }
  .card{
    width: 100%;
  }
}