.home {
  font-family: Arial, sans-serif;
  margin: 0;
}

.full-screen-image {
  width: 100vw;  
  height: 100vh; 
  overflow: hidden;
  /* margin-top: 80px; */
  margin-bottom: 20px;
  position: relative;
}

.image-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* stack images on top of each other */
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-full.active {
  opacity: 1;
  z-index: 1;
}


.image-row {
  display: flex;
  margin-bottom: 20px; 
}

.image {
  width: 20%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.carousel-container {
  margin: 20px 0;
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px;
   font-family: 'PT Serif', serif;
}
.section p{
  font-weight: 100;
  font-size: 1rem;
  color: #1a1a1a;
  font-family: "Montserrat", Sans-serif;
}
.section h1,
.section h2 {
  font-weight: 100;
  font-size: 3rem;
  color: #333;
}


.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 30%;
  height: 200px;
  padding: 15px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #444;
  text-align: center;
}

.card p {
  font-weight: 100;
  font-size: 1rem;
  margin: 0 25px;
  color: #666;
}

@media (max-width: 768px){
  .full-screen-image{
    height: 60vh;
      margin-top: 0px;
  }
  .section h1,
  .section h2{
    font-size: 2rem;
  }
  .section p{
    font-size: 0.8rem;
    margin: 0 -10px;
  }
  .image-row{
    flex-wrap: wrap;
  }
  .image-row img{
    padding: 1px;
    width: 49%;
    height: 180px;
  }
  .card-container{
    flex-direction: column;
    margin-bottom: 80px;
  }
  .card{
    width: 100%;
  }
  .section {
    margin: 50px 20px;
    text-align: center;
  }
  .section h1,
  .section h2,
  .section h3{
      font-size: 1.5rem;
  }
}