.portfolio-container {
  max-width: 1000px;
  margin: 70px auto;
  padding: 0 20px;
  text-align: center;
}
.portfolio-title{
    text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 30px;
}

.portfolio-card {
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.portfolio-card:hover {
  transform: scale(1.03);
}

.portfolio-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.portfolio-card p {
  padding: 10px;
  font-weight: 600;
}
