.portfolio-container {
  padding: 60px 40px;
  text-align: center;
}

.portfolio-container p {
  color: #616161;
}

.portfolio-title {
  text-align: center;
  margin-top: 60px;
  font-family: 'PT Serif', serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px); /* fixed width like service cards */
  justify-content: center; /* center the grid */
  margin-top: 60px;
}

/* Container stays same */
.portfolio-card {
  cursor: pointer;
  background: #fff;
  overflow: hidden; /* important */
  border-radius: 20px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

/* Slight card lift effect */
.portfolio-card:hover {
  transform: translateY(-4px);
}

/* Image zoom */
.portfolio-card img {
  width: 270px;
  height: 270px; /* square like service cards */
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Zoom image on hover */
.portfolio-card:hover img {
  transform: scale(1.15); /* zoom-in */
}


.portfolio-card p {
    font-size: 22px;
    font-weight: 100;
    color: #333;
}

@media (max-width: 768px) {
  .portfolio-title {
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
}