/* ServiceView Container */
.service-view-container {
  margin-top: 50px;
  font-family: 'Alegreya Sans ', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title Style */
.service-view-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 100;
  color: #333;
}

/* Service Content Layout */
.service-content {
  background-color: #f8f8f8;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.service-image {
  padding: 10% 0;
  width: 60%;
  margin-left: 5%;
}

/* Image Style */
.service-image img {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

/* Service Description Styling */
.service-description {
  width: 30%;
  line-height: 1.6;
  color: #555;
}

/* Paragraph Styling */
.service-description h2 {
  font-weight: 100;
  font-size: 1.1rem;
  margin-top: 0;
}

.service-description p {
  font-size: 1.1rem;
  font-weight: 100;
  margin-top: 0;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  .service-content {
    flex-direction: column;
    gap: 20px;
  }

  .service-image img {
    width: 100%;
    /* Image will take full width on smaller screens */
    margin-right: 0;
  }

  .service-description {
    text-align: center;
  }
}